#reset-form {
  position: absolute;
  bottom: 1vh;
  right: 1vw;
}

#login-form {
  margin-top: 6rem;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  text-align: center;
}

.non-bg {
  background: none;
  border: none;
}

.login .input {
  background-color: rgb(255, 255, 255, 0.4);
  border: 0.5px palevioletred solid;
  border-radius: 10px;
  width: 250px;
  height: 50px;
  font-size: 20px;
}

.reset .btn {
  color: white;
}
