/*  
https://fonts.google.com/specimen/Asap  

400 Italic
*/

#greeting {
  margin-top: 6rem;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -20%);
  text-align: center;
  font-size: 3rem;
}
