/*  
https://fonts.google.com/specimen/Andika
명언은 이거로 쓰자!!
*/

#quote {
  margin-top: 1vh;
  text-align: center;
}

.quote {
  font-family: "Andika", sans-serif;
  display: block;
  margin-bottom: 5px;
}
