#todo {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%);
}

#todo-form {
  text-align: center;
}

#todo-list {
  background-color: rgb(255, 255, 255, 0.5);
  width: 50vw;
  font-size: 20px;
}
